battleship_client/Service References/BattleshipServerRef/BattleshipService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BattleshipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IBattleshipService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/battleship_common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBattleshipService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_RoomAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomAdded" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_RoomDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomDeleted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBattleshipService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/Join" message="tns:IBattleshipService_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/JoinResponse" message="tns:IBattleshipService_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/CreateRoom" message="tns:IBattleshipService_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/CreateRoomResponse" message="tns:IBattleshipService_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/Leave" message="tns:IBattleshipService_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RoomAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/RoomAdded" message="tns:IBattleshipService_RoomAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RoomDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/RoomDeleted" message="tns:IBattleshipService_RoomDeleted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IBattleshipService" type="tns:IBattleshipService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IBattleshipService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RoomAdded">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/RoomAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDeleted">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/RoomDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BattleshipService">
    <wsdl:port name="WSDualHttpBinding_IBattleshipService" binding="tns:WSDualHttpBinding_IBattleshipService">
      <soap12:address location="http://localhost/battleship" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/battleship</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>